/* Gustavo Olgiati */

/* --------------- ADD CSS RESET TO THE FILE HERE --------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------- */

:root {
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
    --blue: #499BD2;
	--dark-gray: #222222;
	--light-gray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;

    --select-border: var(--purple);
    --select-focus: var(--blue);
    --select-arrow: var(--select-border);
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

* {
    box-sizing: border-box;
    line-height: 1.35;
}

@media screen and (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark-gray);
        }

    #main-content {
        color: var(--light-gray);
    }

    #plan {
        color: var(--dark-gray);
    }

    #about h3, #about h4 {
        color: var(--dark-gray);
    }
  }

/* ----------------- iphone screens ----------------- */
body {
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 350px;
    font-size: 1.3rem;
    background-image: linear-gradient(var(--teal), var(--white));
}

h1 {
	/*font-family: 'Molle', Arial, sans-serif;*/
    font-family: 'Molle', cursive;
    font-style: italic;
    font-weight: normal;
	font-size: 3.5rem;
    margin: 20px;
}

h2 {
	font-family: 'Molle', cursive;
    font-style: italic;
    font-weight: normal;
	font-size: 3rem;
}

h3 {
    font-family: 'Molle', cursive;
    font-style: italic;
    font-weight: normal;
	font-size: 2.5rem;
}

h4 {
    font-family: 'Molle', cursive;
    font-style: italic;
    font-weight: normal;
    font-size: 1.5rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
	font-size: 1.2rem;
}

header h1 {
    text-align: left;
}

header p {
    margin: 20px;
}



.logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* hide content */
#skip {
    position: absolute;
    top: -30px;
    left: 0;
    background-color: var(--purple);
    color: var(--light-gray);
    padding: 5px;
    z-index: 999;
}

#skip:focus{
	position: static;
	width: 414px;
	height: auto;
  }

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#main-content {
    max-width: 350px;
}

#main-content h2{
    padding: 20px;
}

#main-content p {
    margin: 0 20px 20px 20px;
}

/* menu */
nav {
    position: relative;
    grid-row: 2 / 3;
}

nav ul {
    max-height: 0;
    clear: both;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

nav li a {
    display: flex;
    justify-content: center;
    padding: 25px;
    text-decoration: none;
    background-color: var(--teal);
    border-bottom: solid 1px var(--dark-gray);
    border-left: 1px solid var(--dark-gray);
    border-right: 1px solid var(--dark-gray);
    color: var(--dark-gray);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
}

nav li a:hover {
    color: var(--light-gray);
    /*background-color: var(--yellow);*/
}

nav #toggle:checked ~ ul, nav #toggle:checked ~ label {
    max-height: 700px;
}

#menu-toggle label {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--yellow);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
}

#toggle {
    display: none;
}

#menu-toggle label:hover {
    cursor: pointer;
}

.active {
    border-top: 1px solid black;
}

/* images */
#img-grid {
    display: flex;
    flex-direction: column;
}

#img-grid img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

/* plan your trip */
#plan {
    background-color: var(--yellow);
    padding-bottom: 20px;
    padding-top: 10px;
}

#plan h3 {
    text-align: left;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
}

#plan h4 {
    font-weight: bold;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    padding-bottom: 30px;
    font-weight: bold;
}

#plan section {
    text-align: center;
    margin: 20px 40px;
    padding: 20px;
    border: 5px solid var(--light-gray);
    border-radius: 10px;
    background-color: var(--teal);
}

#plan section img {
    width: 80%;
    height: auto;
}

/* testimonials */
#testimonials h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    padding-left: 20px;
}

#testimonials section {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
}

#testimonials h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
}

#testimonials p {
    margin: 0;
}

#testimonials q {
    font-style: italic;
    font-size: 1.5rem;
}

/* about */
#about {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#about h3 {
    padding: 20px;
    text-align: left;
    margin: 0;
}
#about h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
}

#about div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}

#about div img {
    width: 50%;
    height: 50%;
}

/* style the form */
#contact h3 {
    margin: 20px 0;
}

.form-required {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

#contact form {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

#contact label {
    font-size: 1.5rem;
    font-weight: bold;
}

.required {
    color: var(--purple);
}

input[type=text], select {
    padding: 15px 20px;
    width: 100%;
    display: inline-block;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    box-sizing: border-box;
    border: 5px solid var(--purple);
    font-size: 1.5rem;
}

#contact legend {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 30px;
}

#contact fieldset {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border: none;
}

#contact fieldset label {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

input[type=email] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    box-sizing: border-box;
    border: 5px solid var(--purple);
    font-size: 1.5rem;
}

input[type=tel] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    box-sizing: border-box;
    border: 5px solid var(--purple);
    font-size: 1.5rem;
}

/* style the radio buttons */
input[type="radio"] {
    appearance: none;
    background-color: var(--white);
    margin: 0;
    font: inherit;
    color: var(--purple);
    width: 2em;
    height: 2em;
    border: 0.15em solid var(--purple);
    border-radius: 50%;
    transform: translateY(1.8rem);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--purple);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.radio-input {
    align-items: baseline;
}

.radio-label {
    font-weight: normal;
    padding-top: 35px;
    padding-left: 20px;
}

/* style the selects */
select {
    appearance: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.custom-select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.custom-select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    margin-left: 320px;
}

select, .custom-select:after {
  grid-area: select;
}

/* style submit button */
#mySubmit {
    background-color: var(--purple);
    color: var(--white);
    padding: 20px 10px;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

/* style the footer */
footer {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--light-gray);
}

footer p {
    padding-bottom: 50px;
    font-size: 1.2rem;
}

footer a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 5px;
    color: var(--dark-gray);
}

footer a:visited {
    color: var(--dark-gray);
}

/* ----------------- small screens ------------------- */
@media screen and (min-width: 450px) {
    body, header, #main-content {
        max-width: 450px;
        margin: 0 auto;
    }

    header h1 {
        margin: 20px;
    }

    header p {
        margin: 20px;
    }

    header img {
        width: 60%;
        height: auto;
        position: relative;
    }

    #menu-toggle label {
        width: 200px;
        margin-left: 250px;
    }

    .active {
        border-top: 1px solid black;
    }

    #plan section {
        padding: 50px;
    }

    #plan div {
        margin: 20px;
    }

    .custom-select::after {
        margin-left: 400px;
    }

}

/* -----------------  medium screens ----------------- */
@media screen and (min-width: 768px) {

    body {
        max-width: 768px;
    }

    #main-content {
        max-width: 768px;
    }

    /* text */
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }


    header {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 1fr);
        max-width: 768px;
    }

    header h1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        text-align: left;
        padding: 0;
        padding-top: 20px;
    }

    header img {
        width: 100%;
        height: auto;
    }

    header p {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        padding-top: 120px;
        padding-left: 20px;
        text-align: left;
        margin: 0;
    }

    header nav {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        position: relative;
        padding-top: 30px;
        justify-self: start;
        margin-left: 0;
    }

    header a {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #menu-toggle label {
        display: none;
    }

    header nav li {
        margin: 20px;
    }

    header nav ul {
        display: flex;
        max-height: 20px;
        overflow: visible;
        justify-content: space-between;
    }

    header nav ul a {
        padding: 20px;
        text-decoration: none;
        justify-content: center;
        background-color: var(--white);
        font-size: 1.2rem;
        font-weight: bold;
        max-width: 170px;
        border: none;
        width: 150px;
    }

    .active {
        border: none;
    }

    header nav ul a:hover {
        background-color: var(--yellow);
    }

    header nav ul a:visited {
        color: var(--dark-gray);
    }

    #main-content p {
        margin-bottom: 20px;
    }

    #img-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    #img-grid img {
        padding-bottom: 0px;
        align-self: end;
    }

    #img-grid picture {
        grid-column: 1 / 3;
        margin-bottom: 20px;
    }

    #plan div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #plan h3 {
        text-align: left;
    }

    #plan h4 {
        font-size: 2rem;
    }

    #plan section {
        margin: 30px;
        padding: 30px;
    }

    #plan section img {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .hotels {
        margin-top: 30px;
    }

    #testimonials div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #testimonials h3 {
        text-align: left;
    }

    #testimonials section {
        margin: 10px;
        padding-bottom: 30px;
    }

    #about div {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    #about div h4 {
        margin-top: 20px;
        font-weight: bold;
        font-size: 2rem;
    }

    #about div p {
        margin: 0;
    }

    input[type=text], select, input[type=email], input[type=tel] {
        width: 700px;
    }
    
    #nums fieldset {
        flex-direction: row;
        justify-content: space-around;
    }

    #contact form {
        padding-left: 30px;
    }

    .custom-select::after {
        margin-left: 650px;
    }

    #mySubmit {
        width: 200px;
        margin-left: 500px;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;
    }

    footer p {
        padding-bottom: 0;
    }
}

/* ----------------- large screens ----------------- */
@media screen and (min-width: 1920px) {

    body, header, #main-content {
        max-width: 1920px;
    }

    header {
        grid-template-columns: 1fr 2fr 3fr;
        grid-template-rows: 1fr;
        margin: 0;
    }

    header h1 {
        text-align: left;
        padding: 0;
    }

    header p {
        padding: 0;
        padding-top: 120px;
        text-align: left;
    }

    header img {
        width: 100%;
        height: auto;
    }

    header nav {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        padding-left: 300px;
    }

    header nav ul {
        justify-content: space-around;
    }

    #intro {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #intro p {
        grid-column: 1 / 2;
    }

    /*#img-grid {
        margin-right: 20px;
    }*/

    #plan div {
        display: flex;
        justify-content: center;
    }

    #plan section {
        padding: 50px;
        margin: 50px;
    }

    #testimonials div {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    #about h3 {
        text-align: left;
    }

    #about div {
        justify-content: center;
    }

    #about div section {
        margin: 20px;
    }

    #about div section img {
        width: 100%;
    }

    #contact {
        padding-top: 50px;
    }

    #contact h3 {
        text-align: left;
        margin-left: 20px;
    }

    #contact form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .custom-select::after {
        margin-left: 550px;
    }

    #contact legend {
        padding: 0;
    }

    #contact fieldset {
        padding: 0;
        padding-bottom: 5px;
    }

    #names input {
        margin: 15px 0;
    }
    .custom-select {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    input[type=text], select, input[type=email], input[type=tel] {
        width: 600px;
    }

    #mySubmit {
        margin-left: 400px;
        margin-top: 40px;
    }
}